.Main{

}

.Main section{
  text-transform: uppercase;
  top: 8rem;
  left: calc(50% - 194px);
  position: absolute;
  display: flex;
  height: 100px;
  background-color: white;
  border: 1px transparent solid;
  border-radius: 4px;
  z-index: 1;
  padding: 14px;
}

.Main section div{
  padding: 10px;
  border-right: solid gray;
}
